<div id="<%= dom_id review %>">
  <p>
    <strong>Date:</strong>
    <%= review.date %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= review.place %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= review.category %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <%= image_tag(post.image, width: 300) if post.image.attached? %>

</div>
