<p style="color: green"><%= notice %></p>

<link rel="stylesheet" href="<%= asset_path 'styles.css' %>">

<div id="header-container">
  <h1>IndyReview</h1>
  <img src="<%= asset_path 'indy-flag.png' %>" alt="Indiana State" style="height: 100px; vertical-align: middle;" />
</div>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", review %>
    </p>
  <% end %>
</div>

<%= link_to "New review", new_review_path %>
